html {
    background-color: #695b5a;
}

body {
    background-color: #695b5a;
}

.header {
    display:flex;
    align-items:center;
    justify-content:center;
}

h1 {
    text-align: center;
    font-size: 60px;
}

media-controller {
    --media-icon-color: #b6140f;
    --media-control-background: #38322b;
    --media-control-hover-background: #ce5412;
    --media-primary-color: #b6140f;
}
/*
#vid {
    width: 80%;
}

#chat {
    width: 20%;
}

#chatctrl {
    visibility: hidden;
}*/

.vidcontainer {
    min-width:1000px;
    width:50%;
    margin: auto;
}