#videosContainer {
    color: white;
    border: 2px solid white;
}

#videosContainer.lightMode {
    background-color: white;
    color: #0e0e10;
    border: 2px solid #0e0e10;
}

.video {
    border: 2px solid white;
    width: 300px;
    height: 200px;
    margin: 50px;
    padding: 10px;
}

.video.lightMode {
    border: 2px solid #0e0e10;
}

.channelLogo {
    width: 120px;
    height: 120px;
    margin: 10px;
    border: 2px solid red;
}

.videoInfoContainer {
    margin-left: 0px;
}

.videoTitle {
    display: block;
    font-size: 26px;
    word-wrap: break-word;
}

.videoLength {
    display: inline-block;
    width: 200px;
    font-size: 20px;
}