#channelContainer {
    color: white;
    width: 70%;
    min-width: 500px;
}

#channelContainer.lightMode {
    color: #0e0e10;
}

.channel {
    border: 2px solid white;
    margin: 30px;
    width: 90%;
    height: 150px;
}

.channel:hover {
    background-color: #1f2222;
}

.channel.lightMode {
    border: 2px solid #0e0e10;
}

.channel.lightMode:hover {
    background-color: #e8eaec;
}

.channelLogo {
    width: 120px;
    height: 120px;
    margin: 10px;
    border: 2px solid red;
}

.channelInfoContainer {
    width: 100%;
    height: 150px;
    padding: 10px;
}

.channelTitle {
    display: block;
    width: 100%;
    font-size: 36px;
    overflow: hidden;
}

.videoCount {
    font-size: 24px;
    width: 150px;
}

.lastVideo {
    font-size: 24px;
    float: right;
}