#channelContainer {
    color: white;
}

#channelContainer.lightMode {
    color: #0e0e10;
}

.channel {
    display: flex;
    border: 2px solid white;
    margin: 50px;
    padding: 10px;
}

.channel.lightMode {
    border: 2px solid #0e0e10;
}

.channelLogo {
    width: 120px;
    height: 120px;
    margin: 10px;
    border: 2px solid red;
}

.channelInfoContainer {
    margin-left: 20px;
}

.channelTitle {
    display: block;
    font-size: 40px;
}

.videoCount {
    display: inline-block;
    font-size: 24px;
    width: 200px;
}

.lastVideo {
    font-size: 24px;
    margin-left: 20px;
}