media-controller {
    --media-icon-color: #b6140f;
    --media-menu-item-hover-color: green;
    --media-control-background: #18181b;
    --media-control-hover-background: #494948;
    --media-menu-opacity: 0.2;
    --media-primary-color: #b6140f;
    --media-secondary-color: #201d1d;
}

media-controller.lightMode {
    --media-control-background: #e7e7e7;
    --media-control-hover-background: #a1a195;
}

#streamContainer {
    position: relative;
    width: 1100px;
    height: 540px;
    margin: auto;
    background-color: #18181b;
}

#streamContainer.lightMode {
    background-color: #e7e7e7;
}

#videoContainer {
    width: 71%;
    border: 4px black solid;
}

#videoContainer.lightMode {
    border: 4px white solid;
}

#chatContainer {
    overflow-y: scroll;
    width: 25%;
    padding: 8px;
    background-color: #18181b;
}

#chatContainer.lightMode {
    background-color: #e7e7e7;
}

#infoContainer {
    width: 1100px;
    margin: auto;
    padding: 0px 20px 20px 20px;
    background-color: #18181b;
    color: white;
}

#infoContainer.lightMode {
    background-color: #e7e7e7;
    color: #18181b;
}

#fullScreenButton {
    margin-right: 4px;
    margin-bottom: 8px;
}

#gameInfoContainer {
    text-align: right; 
}

span {
    color: white;
}

.lightMode {
    background-color: #e7e7e7;
    color: #18181b;
}

#time {
    font-size: 14px;
}

#streamer {
    font-size: 24px;
}

#videoTitle {
    font-size: 30px;
}

#gameTitle {
    font-size: 20px;
}