html {
    background-color: #0e0e10;
}

body {
    background-color: #0e0e10;
}

.header {
    display:flex;
    align-items:center;
    justify-content:center;
}

a {
    display: flex;
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
    font-size: 60px;
}

#emberTitle {
    color: #b6140f;
}

#archiveTitle {
    color: #ce5412;
}

media-controller {
    --media-icon-color: #b6140f;
    --media-menu-item-hover-color: green;
    --media-control-background: #18181b;
    --media-control-hover-background: #494948;
    --media-menu-opacity: 0.2;
    --media-primary-color: #b6140f;
    --media-secondary-color: #201d1d;
}

#streamContainer {
    position: relative;
    width: 70%;
    min-width: 800px;
    min-height: 400px;
    max-width: 1200px;
    max-height: 600px;
    margin: auto;
    background-color: #18181b;
}

#videoContainer {
    width: 74%;
    border: 4px black solid;
}

#chatContainer {
    overflow-y: scroll;
    width: 22%;
    padding: 8px;
    background-color: #18181b;
}

#infoContainer {
    width: 70%;
    min-width: 800px;
    max-width: 1200px;
    margin: auto;
    padding: 0px 20px 20px 20px;
    background-color: #18181b;
    color: white;
}

#fullScreenButton {
    margin-right: 4px;
    margin-bottom: 8px;
}

#gameInfoContainer {
    text-align: right; 
}

span {
    color: white;
}