html {
    background-color: #0e0e10;
}

body {
    background-color: #0e0e10;
}

.header {
    display:flex;
    align-items:center;
    justify-content:center;
}

a {
    display: flex;
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
    font-size: 60px;
}

#emberTitle {
    color: #b6140f;
}

#archiveTitle {
    color: #ce5412;
}

#channelContainer {
    color: white;
}

.channel {
    border: 2px solid white;
    margin: 10px;
    padding: 10px;
}