<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="/static/css/ember.css" rel="stylesheet">
        <link href="/static/css/video.css" rel="stylesheet">
        <script type="module" src="https://cdn.jsdelivr.net/npm/media-chrome@4/+esm"></script>
        <script type="module" src="https://cdn.jsdelivr.net/npm/media-chrome@4/menu/+esm"></script>
        <link href="/static/images/ember-logo.png" rel="icon" type="image/png">
        <title>{{ video_name }} - Ember Archive</title>
    </head>

    <body>
        <button type="button" id="modeButton">Light Mode</button>
        <div class="header">
            <a href="/">
                <img src="/static/images/ember-logo.png" style="width:60px; padding: 10px;">
                <h1 style="display: flex"><span id="emberTitle">Ember</span> <span id="archiveTitle">Archive</span></h1>
            </a>
        </div>
        <div id="streamContainer" class="d-flex p-2">
            <media-controller id="videoContainer" class="p-2">
                <video slot="media" id="video"></video>
                <!--<media-play-button slot="centered-chrome" id="centervidplay"></media-play-button>-->
                <media-loading-indicator slot="centered-chrome"></media-loading-indicator>
                <media-playback-rate-menu rates="0.25 0.5 0.75 1 1.25 1.5 2 4" hidden anchor="auto"></media-playback-rate-menu>
                <media-control-bar>
                    <media-play-button></media-play-button>
                    <media-seek-backward-button></media-seek-backward-button>
                    <media-seek-forward-button></media-seek-forward-button>
                    <media-mute-button></media-mute-button>
                    <media-volume-range></media-volume-range>
                    <media-time-display></media-time-display>
                    <p></p>
                    <media-duration-display></media-duration-display>
                    <media-time-range></media-time-range>
                    <media-playback-rate-menu-button></media-playback-rate-menu-button>
                    <media-fullscreen-button></media-fullscreen-button>
                </media-control-bar>
            </media-controller>
            
            <div id="chatContainer" class="p-2">
            </div>

            <button type="button" class="btn btn-outline-danger btn-sm position-absolute bottom-0 end-0" id="fullScreenButton">
                <svg type="button" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fullscreen" viewBox="0 0 16 16">
                    <path d="M1.5 1a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4A1.5 1.5 0 0 1 1.5 0h4a.5.5 0 0 1 0 1zM10 .5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 16 1.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5M.5 10a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 0 14.5v-4a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v4a1.5 1.5 0 0 1-1.5 1.5h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5"/>
                </svg>
            </button>
        </div>

        <div id="infoContainer" class="d-flex p-2 justify-content-between">
            <div id="streamInfoContainer" class="p-2">
                <span id="time"></span><br>
                <span id="streamer"></span><br>
                <span id="videoTitle"></span>
            </div>
            <div id="gameInfoContainer" class="p-2">
                <span id="gameTitle"></span><br>
                <img id="gameImage" style="width:60px; padding: 10px;">
            </div>
        </div>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/static/js/ember.js"></script>
    <script src="/static/js/video.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {

            const videoPlayer = document.getElementById('video');
            const chatContainer = document.getElementById('chatContainer');
            // fetch the data for the video and chatlog
            const fetchVideoData = async () => {
                try {
                    const response = await fetch('/api/channel/{{ channel_name }}/{{ video_name }}');
                    if (!response.ok) {
                        console.error('Error fetching video data:', response.status);
                        const errorText = await response.text();
                        console.error('Error response:', errorText); // Log the actual error response
                        return null;
                    }
                    const data = await response.json();
                    return data;
                } catch (error) {
                    console.error('Error fetching video data:', error);
                    return null;
                }
            };

            // create the parts that make up the webpage, with the information coming from different sources depending on whether or not there's a chatlog
            const displayVideoData = async(videoData) => {
                const jsonData = videoData.chatlog;
                const date = videoData.date;
                const video = document.getElementById('video');
                if (jsonData === null) {
                    if (date != 'Unknown') {
                        document.getElementById('time').innerHTML = timeSince(new Date(date)) + ' ago';
                    }
                    document.getElementById('streamer').innerHTML = '{{ channel_name }}';
                    document.getElementById('videoTitle').innerHTML = '{{ video_name }}';
                    document.title = '{{ video_name }} - Ember Archive';

                } else {
                    const videoTitle = jsonData.video.title;
                    document.getElementById('time').innerHTML = timeSince(new Date(jsonData.video.created_at.slice(0, 10))) + ' ago';
                    document.getElementById('streamer').innerHTML = jsonData.streamer.name;
                    document.getElementById('videoTitle').innerHTML = videoTitle;
                    document.getElementById('gameTitle').innerHTML = jsonData.video.chapters[0].gameDisplayName;
                    document.getElementById('gameImage').src = jsonData.video.chapters[0].gameBoxArtUrl;
                    document.title = videoTitle + ' - Ember Archive';
                }
                
                // if the date was included in the filename we need to reattach it to get the mp4 file
                if (date === 'Unknown') {
                    console.log('date');
                    video.src = ('/stream/channel/{{ channel_name }}/{{ video_name }}.mp4');
                } else {
                    video.src = ('/stream/channel/{{ channel_name }}/{{ video_name }}' + date + '.mp4');
                }

                if (localStorage.getItem('mode') == 'lightMode') { changeMode(); }
            }
            
            const loadVideoAndChat = async () => {
                const data = await fetchVideoData();
                if (data) {
                    console.log(data);
                    console.log('hey');
                    const videoData = data.videos[0];
                    const chatlog = videoData.chatlog;
                    displayVideoData(videoData);
                    getVideoTime(chatlog);
                }
            };

            loadVideoAndChat();
        });
    </script>
</html>